/* Emprestimo.css */

/* Estilo para o contêiner principal */
.emprestimo-container {
  width: 100%;
  max-width: 1000px;
  margin: 40px auto 0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

  
  /* Estilo para o título */
  .emprestimo-title {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
  }
  
  /* Estilo para os campos de entrada */
  .emprestimo-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  /* Estilo para o botão */
  .emprestimo-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Estilo para o botão quando em modo de hover */
  .emprestimo-button:hover {
    background-color: #0056b3;
  }
  
  /* Estilo para a lista de itens filtrados */
  .emprestimo-list {
    list-style-type: none;
    padding: 0;
    margin-top: -10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    max-height: 150px;
    overflow-y: auto;
  }
  
  /* Estilo para os itens da lista */
  .emprestimo-list-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  /* Estilo para os itens da lista quando em modo de hover */
  .emprestimo-list-item:hover {
    background-color: #f1f1f1;
  }
  
  /* Estilo para o item selecionado */
  .emprestimo-list-item.selected {
    background-color: #ddd;
  }
  
  /* Estilo para o contêiner de detalhes selecionados */
  .emprestimo-selected-details {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  